<meta charset="utf-8">

<footer th:fragment= "footer">
	<div class = "collapse navbar-collapse" id = "navbarSupportedContent">
    	<ul class = "navbar-nav mr-auto">
        	<li class = "nav-item">
            	<a class = "nav-link" href = "site.html">Sites</a>
            </li>
            <li class = "nav-item">
                <a class = "nav-link" href = "association.html">Association</a>
            </li>
            <li class = "nav-item">
            	<a class = "nav-link" href = "evenement.html">Evènements</a>
            </li>
            <li class = "nav-item">
            	<a class = "nav-link" href = "contact.html">Contact</a>
            </li>
            <li class = "nav-item ">
            	<a class = "nav-link" href = "about.html">À propos</a>
            </li>
        </ul>
	</div>
</footer>
