<meta charset="utf-8">

<header th:fragment= "header">
	<div class="container-fluid bg-primary">
		<nav class="navbar navbar-expand-lg navbar-dark" id="header">
	  		<a class="navbar-brand" href="index" title="accéder à la page d'accueil" alt="logo accueil"><img alt="logo du site" src="../img/logo_escalade.png"></a>
		  	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
		    	<span class="navbar-toggler-icon"></span>
		  	</button>
				<div class="collapse navbar-collapse" id="navbarColor01">
					<ul class="navbar-nav mr-auto">
				    	<li class="nav-item active">
				        	<a class="nav-link" href="site">Sites <span class="sr-only">(current)</span></a>
				      	</li>
				      	<li class="nav-item">
				        	<a class="nav-link" href="association">Association</a>
				      	</li>
				      	<li class="nav-item">
				        	<a class="nav-link" href="evenement">Evènements</a>
				      	</li>
				     	<li class="nav-item">
				        	<a class="nav-link" href="contact">Contact</a>
				      	</li>
				    </ul>
					<form class="form-inline my-2 my-lg-0">
						<input class="form-control mr-sm-2" type="text" placeholder="Rechercher">
					    <button class="btn btn-secondary my-2 my-sm-0" type="submit"><img alt="rechercher" src="img/magnifying_glass.png"></button>
					    <a class="btn btn-secondary" href="login"><img alt="se connecter" src="img/logo_user.png"></a>
					</form>
	  			</div>
		</nav>
	</div>
	<nav class="navbar navbar-expand-lg" id="logo">
		<div class="collapse navbar-collapse">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" href="https://www.facebook.com/"><img alt="facebook" src="img/logo_facebook.png"><span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="https://www.pinterest.fr/"><img alt="pinterest" src="img/logo_pinterest.png"></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="https://twitter.com/?lang=fr"><img alt="twitter" src="img/logo_twitter.png"></a>
				</li>
			</ul>
		</div>
	</nav>			
</header>


































	</div>