/* header image */
 	#header_img img {
 		/*margin-top:5px;*/
 		margin-top:5px;
 		margin-bottom:5px;
 		border: solid;
 		width:100%;
 	}
 	
/*nav logo*/
 	.navbar-brand img {
 		width:4rem;
 		height:4rem;
 	}
 	
/* login */
 	#login {
 		text-align:right;
 	}
 
/* login button */
 	#login a {
 		margin:3px;
 		border:solid 1px grey;
 	}
 
/* footer */
      footer.row {
        margin: 20px 0 40px 0;
      }
      
      footer .btn {
        width: 50px;
        height: 50px;
        border-radius: 25px;
        padding-top: 10px;
      }