<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
<!-- Meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width = device-width, initial-scale = 1, shrink-to-fit = no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/style.css">
<title>Les amis de l'escalade</title>
</head>

<body>
     
     
 		<header th:replace="fragments/header :: header"></header>
 		
 		<div class="container" id="main_img">
		 	<img alt="en-tête" src="img/main_img.jpg">
		 		<div>
	     			<h2  class = "mt-4">Bienvenue sur le site des amis de l'escalade!</h2>
	     			<br/>
		 			<h5 >Ce site est dedié aux amoureux de cette discipline qui souhaitent trouver leur prochain spot.</h5>
		 		</div> 
		 </div> 
 	
 	<div class="container">
 		<section>
	 		<article>
	 		<br/>
				<h3>Pour les non-initiés, voici quelques éléments du vocabulaire du grimpeur :</h3>
					<ul class="list-group list-group-flush">
	  					<li class="list-group-item">Un site ou spot, c’est un lieu où il est possible de grimper.</li>
	  					<li class="list-group-item">Les sites peuvent être découpés en plusieurs secteurs qui regroupent un ensemble de voies.</li>
	  					<li class="list-group-item">« Lao Tzeu l'a dit : il faut trouver la voie » : c’est le chemin à emprunter par le grimpeur pour arriver à destination : le haut de la voie.</li>
	  					<li class="list-group-item">si la voie est découpée en plusieurs « parties » à grimper les unes après les autres, ces parties s’appellent des longueurs et on trouve un relai en haut de chaque longueur.</li>
	  					<li class="list-group-item">Quand le grimpeur arrive en haut de la longueur, c’est à ce relai qu’il se vache, c’est à dire qu’il s’y accroche, à l’aide de sa vache ou longe (corde nouée sur le baudrier du grimpeur et équipée d’un mousqueton à verrouillage).</li>
	  					<li class="list-group-item">Les points ou spits sont des ancrages fixes que l’on trouve dans les voies dites « équipées » et qui permettent au grimpeur de s’assurer au fur et à mesure de sa progression, à l’aide de dégaines</li>
	  					<li class="list-group-item">La cotation d’une longueur ou d’une voie, représente sa difficulté. En France, le système de cotation va, en gros, par ordre croissant de difficulté, de 3 à 9c. Le chiffre est en quelque sorte, l’unité principale et la lettre une sous-unité (de « a » à « c »)</li>
	  					<li class="list-group-item">Un topo est un recueil contenant toutes les informations utiles sur les sites d’escalade d’une région (les secteurs, les voies, leur hauteur, leur cotation, le nombre de points…).</li>
	  				</ul>
			</article>
		</section>
		
		<footer th:replace="fragments/footer :: footer"></footer>
		
	</div>
	
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
	
</body>
</html>