<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
<!-- Meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width = device-width, initial-scale = 1, shrink-to-fit = no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/style.css">
<title>Les amis de l'escalade</title>
</head>
<body>
	<!-- header -->
	<header th:replace="fragments/header :: header"></header>

	<div class="container-fluid" id="mySpace_title">
		<h1 class="text-center text-dark">Bienvenue dans votre espace</h1>
		<br />
	</div>
	
	<div class="container">
		<div class="row d-flex justify-content-center mt-3 mb-5">
			<div class="card-deck">
				<div class="card">
					<img class="card-img-top" src="img/****.png" alt="Topo">
					<div class="card-body">
						<h5 class="card-title">Voir mes topos</h5>
						<p class="card-text">Some quick example text</p>
						<a href="topoForm" th:href="@{/topoForm}" class="btn btn-primary">allez
							vers</a>
					</div>
				</div>
				<div class="card">
					<img class="card-img-top" src="img/****.png" alt="Site">
					<div class="card-body">
						<h5 class="card-title">Voir mes sites</h5>
						<p class="card-text">Some quick example text</p>
						<a href="siteForm" th:href="@{/siteForm}" class="btn btn-primary">allez
							vers</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- footer -->
	<footer th:replace="fragments/footer :: footer"></footer>
	<!-- footer -->

</body>
</html>