<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
<!-- Meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width = device-width, initial-scale = 1, shrink-to-fit = no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/style.css">
<title>Les amis de l'escalade</title>
</head>
<body>
	<header th:replace="fragments/header :: header"></header>

	<div class="container">
		<div class="jumbotron mb-5">
			<h1 class="text-center mb-5">Liste des sites d'escalade</h1>

			<div class="d-flex justify-content-center">

				<form class="form-inline" th:action="@{/site}" method="post"
					th:object="${showSite}">
					<div class="input-group mx-3 mb-3">
						<div class="input-group-prepend">
							<button class="btn btn-primary" type="submit">Site
								d'escalade</button>
						</div>
						<select class="custom-select" th:field="*{titleSite}"
							name="department" id="department">
							<option th:each="i : ${#numbers.sequence(1, 101)}"
								th:value="${i}" th:text="${i}"></option>
						</select>
					</div>
					<div class="input-group mx-3 mb-3">
						<div class="input-group-prepend">
							<button class="btn btn-primary" type="submit">Département</button>
						</div>
						<select class="custom-select" th:field="*{department}"
							name="department" id="department">
							<option th:each="i : ${#numbers.sequence(1, 101)}"
								th:value="${i}" th:text="${i}"></option>
						</select>
					</div>
					<div class="input-group mx-3 mb-3">
						<div class="input-group-prepend">
							<button class="btn btn-primary" type="submit">Type</button>
						</div>
						<select class="custom-select" th:field="*{type}" name="type"
							id="type">
							<option value="Sites de blocs">Sites de blocs</option>
							<option value="Sites de falaises">Sites de falaises</option>
						</select>
					</div>
					<div class="row col-lg-12 d-flex justify-content-center mt-3">
						<button class="btn btn-outline-secondary btn-lg " type="submit">validez</button>
					</div>
				</form>
			</div>
		</div>
		<div>
		blabla
		</div>
	</div>

	<footer th:replace="fragments/footer :: footer"></footer>

	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
		integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
		integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
		crossorigin="anonymous"></script>

</body>
</html>