<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
<!-- Meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width = device-width, initial-scale = 1, shrink-to-fit = no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/style.css">
<title>Les amis de l'escalade</title>
</head>

<body>

	<!-- header -->
	<header th:replace="fragments/header :: header"></header>
	<!-- header -->
	<div class="row m-3">
		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
			<h3 class="text-center text-dark mb-4">Ajouter un site</h3>

			<form th:action="@{/siteForm}" method="post"
				th:object="${siteObject}">

				<div class="mr-3 my-2">
					<label for="titleSite">Titre</label> <input th:field="*{titleSite}"
						type="text" name="titleSite" class="form-control" id="titleSite"
						aria-describedby="emailHelp" placeholder="Insérer le titre">
				</div>
				<div class="row">

					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
						<label for="department">Departement</label> <select
							class="form-control" th:field="*{department}" name="department"
							id="department">
							<option th:each="i : ${#numbers.sequence(1, 101)}"
								th:value="${i}" th:text="${i}"></option>
						</select> 
						<label class="mt-2" for="type">type</label> <select
							class="form-control" th:field="*{type}" name="type" id="type">
							<option value="0">Sites de blocs</option>
							<option value="1">Sites de falaises</option>
						</select>
					</div>

					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
						<label class="mt-2" for="height">Hauteur</label> <select
							class="form-control" th:field="*{height}" name="height"
							id="height">
							<option th:each="i : ${#numbers.sequence(1, 1000)}"
								th:value="${i}" th:text="${i}"></option>
						</select> 
						<label for="orientation">Orientation</label> <select
							class="form-control" th:field="*{orientation}" name="orientation"
							id="orientation">
							<option value="0">Toutes</option>
							<option value="1">Nord</option>
							<option value="2">Sud</option>
							<option value="3">Est</option>
							<option value="4">Ouest</option>
						</select> 
						<label class="mt-2" for="quotation">Cotation</label> <select
							class="form-control" th:field="*{quotation}" name="quotation"
							id="quotation">
							<option value="0">1</option>
							<option value="1">2</option>
							<option value="2">3</option>
							<option value="3">4</option>
							<option value="4">5A</option>
							<option value="5">5B</option>
							<option value="6">5C</option>
							<option value="7">6A</option>
							<option value="8">6A+</option>
							<option value="9">6B</option>
							<option value="10">6B+</option>
							<option value="11">6C</option>
							<option value="12">6C+</option>
							<option value="13">7A</option>
							<option value="14">7A+</option>
							<option value="15">7B</option>
							<option value="16">7B+</option>
							<option value="17">7C</option>
							<option value="18">7C+</option>
							<option value="19">8A</option>
							<option value="20">8A+</option>
							<option value="21">8B</option>
							<option value="22">8B+</option>
							<option value="23">8C</option>
							<option value="24">8C+</option>
							<option value="25">9A</option>
							<option value="26">9A+</option>
							<option value="27">9B</option>
							<option value="28">9B+</option>
							<option value="29">9C</option>
						</select>
					</div>
				</div>
				<div>
					<label class="mt-2" for="description">Description</label>
					<textarea rows="5" th:field="*{description}" class="form-control"
						id="description" name="description" aria-describedby="emailHelp"
						placeholder="il était une fois ...">>
							</textarea>
				</div>

				<div class="xs-12 sm-12 md-12 lg-12 text-center my-3">
					<button type="submit" class=" btn my btn btn-primary tx-tfm">Validez</button>
				</div>
			</form>
		</div>

		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
			<table class="table">
				<caption class="text-center text-dark mb-4" id="caption">Liste
					de mes sites</caption>
				<thead class="thead-light">
					<tr>
						<th>n°</th>
						<th>Titre</th>
						<th>Departement</th>
						<th>Type</th>
						<th>Hauteur</th>
						<th>Nombre de voies</th>
						<th>Cotation</th>
						<th>Orientation</th>
						<th>Description</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="s:${listSite}">
						<td th:text="${s.id}">id</td>
						<td th:text="${s.titleSite}">Titre du site</td>
						<td th:text="${s.department}">Departement</td>
						<td th:text="${s.type}">Type</td>
						<td th:text="${s.height}">Hauteur</td>
						<td th:text="${s.numberOfWay}">Nombre de voie</td>
						<td th:text="${s.quotation}">Cotation</td>
						<td th:text="${s.orientation}">Orientation</td>
						<td th:text="${s.description}">Description</td>
						<td class=" d-flex justify-content-center"><a
							onclick="return confirm('Êtes-vous sûre de vouloir supprimer le site enregistré ?')"
							class="btn btn-secondary"
							th:href="@{/siteDelete(id=${s.id},currentPage=${currentPage})}">Supprimer</a></td>
					</tr>
				</tbody>
			</table>
			<ul class="nav nav-pills">
				<li class="nav-item"
					th:class="${currentPage==status.index}?'active':''"
					th:each="page,status:${pageNumber}"><a class="nav-link"
					th:href="@{/siteForm(page=${status.index})}"
					th:text="${status.index}"></a></li>
			</ul>
		</div>
	</div>
	<div class="img_myspace_return">
		<a href="mySpace" th:href="@{/mySpace}"><img
			alt="retour sur mon espace" src="img/exit.png"
			title="retour sur mon espace"></a>
	</div>

	<!-- footer -->
	<footer th:replace="fragments/footer :: footer"></footer>
	<!-- footer -->

	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
		integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
		integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
		crossorigin="anonymous"></script>

</body>
</html>